  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Discover ancient legends</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider2.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Learn about fearsome warriors</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider3.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Men and women of honor and princple</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



  <div class="about-container"
       <div class="about">
        <img src="swords-shield.png" class="crest"/>

      <h1>Sword and Shield Paradise</h1>


      <h2> <em>Digital Vahalla</em></h2>

      <hr class="gold" />

      <p class="rea">
        This is a website dedicated to the spirit of adventure. Stories of legendary heroes and where to read up on them. Everything from doomed romances to the all conquering hero. <b>Welcome home brave hero!</b> 
        <hr class="gold"
      <table>
          
        <tr>
            <td><button> Greek Mythology</button></td>
            <td><button> Japanese Legends</button></td>
            <td><button> King Arthur and his knights</button></td>
        </tr>
        <tr>
            <td><button> Matter of France</button></td>
            <td><button> Gods and Goddeses</button></td>
            <td><button> Pulp legends</button></td>
        </tr>
          
      </table>
      </p>
    </div>
</div>
