@import "bootstrap";
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 100%;
}

.navbar .navbar-inverse {
  background: image_url('cartographer.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.navbar {
  background: image_url('dark-paths.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'paprikaregular', cursive;
  font-size:26px;
  }

h1 {
    color:gold;
    font-size: 60px;
    font-weight: normal;
    
    
}

h2{
  color: red;
  font-size: 30;
  margin-top: 0;
}

.rea{
  color: #1B008D;
  font-size: 20px;
  background-color: white;
  opacity: .8;
  border: 5px solid gold;
  padding: 5px;
  
}

.crest {
  height: 150px;
  border-radius: 1000px;
  
  
}

body {
  font-family:  'MedievalSharp', cursive;
  background: url('excalibur-.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}